<h1>List of all Users and their role</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "shared/users",collection: @users %>
  </tbody>
</table>
