  <h1>Here is your progress status: <%=  current_subscription(course.id).status== "inprogress" ? t('in_progress_status') : t('completed_status') %></h1>

  <% if current_subscription(course.id).status == "inprogress" %>
    <%= button_to "Mark as Complete", mark_as_course_path , method: :patch , form: {data: {'turbo-confirm': "Are you sure"}}%>
  <% end %>
